<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>

<form action="/admin/delete-product" method="POST">
    <input type="hidden" value="<%= product.id %>" name="productId">
    <button class="btn" type="submit">Delete</button>
</form>
